.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
.pytest_cache
.coverage
htmlcov
.git
.gitignore
README.md
*.md
.env
.DS_Store
.vscode
.idea
*.log
.cache
tests/
.git.bak
.github
ai4bharat_fastapi.egg-info/
alembic/__pycache__
app/__pycache__

